.product_list_wrapper {
  display: flex;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap !important;
  gap: 50px;
  padding-bottom: 191px;
  width: 100%;
  /* border: 1px solid red; */
}
.product_description {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 354px;
}
.product_item_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 386px;
  height: 444px;
  /* padding-bottom: 15px; */
  cursor: pointer;
  position: relative;
  padding: 15px;
}

.product_item_wrapper img {
  /* margin-top: 15px; */
  width: 100%;
  height: 330px;
}

.product_item_wrapper:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.product_description {
  width: 100%;
}

.product_description h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: #1d1f22;
}

.product_description p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #1d1f22;
  margin-top: -5px;
}

.out_of_stock_text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 160%;
  color: #8d8f9a;
  position: absolute;
  top: 35%;
}

.out_of_stock {
  opacity: 0.5;
}

.basket_wrapper {
  background-color: #5ece7b;
  border-radius: 50%;
  position: absolute;
  width: 52px;
  height: 52px;
  bottom: -26px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_box {
  position: relative;
  display: flex;
  justify-content: center;
}

.bakset_wrapper img {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 1150px) {
  .product_list_wrapper {
    gap: 20px;
  }

  .product_item_wrapper {
    width: 25%;
    min-width: 320px;
  }
}

@media only screen and (max-width: 900px) {
  .product_list_wrapper {
    gap: 20px;
  }

  .product_item_wrapper {
    width: 25%;
    min-width: 320px;
  }
}

@media only screen and (max-width: 775px) {
  .product_list_wrapper {
    justify-content: center;
  }

  .product_item_wrapper {
    width: 80%;
    min-width: 320px;
  }
}
